Port 22
Protocol 2
PermitRootLogin no
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
UsePAM no
X11Forwarding yes
X11UseLocalhost yes
X11DisplayOffset 10
ClientAliveInterval 0
TCPKeepAlive no
Compression yes
Ciphers chacha20-poly1305@openssh.com
MACs hmac-sha2-256-etm@openssh.com
KexAlgorithms curve25519-sha256
HostKeyAlgorithms ssh-ed25519
PubkeyAcceptedAlgorithms ssh-ed25519
LogLevel VERBOSE
Subsystem sftp /usr/lib/openssh/sftp-server
